<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Priority Timer Demo</h1>
</div>
<br>
<div style="text-align:center;">
  <div style="width:80%;display:inline-block;">
    <label>Priority: HIGHEST</label>
    <mat-progress-bar class = "notransition" color = "primary" mode = "determinate" [value] = "value1">
    </mat-progress-bar>
    <br>
    <label>Priority: HIGH</label>
    <mat-progress-bar class = "notransition" color = "primary" mode = "determinate" [value] = "value2">
    </mat-progress-bar>
    <br>
    <label>Priority: NORMAL</label>
    <mat-progress-bar class = "notransition" color = "primary" mode = "determinate" [value] = "value3">
    </mat-progress-bar>
    <br>
    
    <button type="button" mat-raised-button color="primary" [disabled]="startDisabled" (click)="start()">Start</button>
    <button type="button" mat-raised-button color="warn" [disabled]="stopDisabled" (click)="stop()">Stop</button>
    <button type="button" mat-raised-button color="accent" [disabled]="pauseDisabled" (click)="pause()">Pause</button>
    <button type="button" mat-raised-button color="primary" [disabled]="resumeDisabled" (click)="resume()">Resume</button>    
  </div>
</div>